/*
My Data My Consent - Developer API

Unleashing the power of data consent by establishing trust. The Platform Core Developer API defines a set of capabilities that can be used to request, issue, manage and update data, documents and credentials by organizations. The API can be used to request, manage and update Decentralised Identifiers, Financial Data, Health Data issue Documents, Credentials directly or using OpenID Connect flows, and verify Messages signed with DIDs and much more.

API version: v1
Contact: support@mydatamyconsent.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package github.com/mydatamyconsent/go-sdk

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// Linger please
var (
	_ context.Context
)

// DataProviderDiscoveryApiService DataProviderDiscoveryApi service
type DataProviderDiscoveryApiService service

type ApiV1DataProvidersGetRequest struct {
	ctx context.Context
	ApiService *DataProviderDiscoveryApiService
	accountType *string
	documentType *string
	organizationCategory *string
	pageNo *int32
	pageSize *int32
	country *string
}

// Account type.
func (r ApiV1DataProvidersGetRequest) AccountType(accountType string) ApiV1DataProvidersGetRequest {
	r.accountType = &accountType
	return r
}
// Document type.
func (r ApiV1DataProvidersGetRequest) DocumentType(documentType string) ApiV1DataProvidersGetRequest {
	r.documentType = &documentType
	return r
}
// Organization category.
func (r ApiV1DataProvidersGetRequest) OrganizationCategory(organizationCategory string) ApiV1DataProvidersGetRequest {
	r.organizationCategory = &organizationCategory
	return r
}
// Page number.
func (r ApiV1DataProvidersGetRequest) PageNo(pageNo int32) ApiV1DataProvidersGetRequest {
	r.pageNo = &pageNo
	return r
}
// Page size.
func (r ApiV1DataProvidersGetRequest) PageSize(pageSize int32) ApiV1DataProvidersGetRequest {
	r.pageSize = &pageSize
	return r
}
// ISO2 Country code.
func (r ApiV1DataProvidersGetRequest) Country(country string) ApiV1DataProvidersGetRequest {
	r.country = &country
	return r
}

func (r ApiV1DataProvidersGetRequest) Execute() (*DataProviderPaginatedList, *http.Response, error) {
	return r.ApiService.V1DataProvidersGetExecute(r)
}

/*
V1DataProvidersGet Discover all data providers in My Data My Consent by country and filters.

.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiV1DataProvidersGetRequest
*/
func (a *DataProviderDiscoveryApiService) V1DataProvidersGet(ctx context.Context) ApiV1DataProvidersGetRequest {
	return ApiV1DataProvidersGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DataProviderPaginatedList
func (a *DataProviderDiscoveryApiService) V1DataProvidersGetExecute(r ApiV1DataProvidersGetRequest) (*DataProviderPaginatedList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DataProviderPaginatedList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataProviderDiscoveryApiService.V1DataProvidersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/data-providers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountType != nil {
		localVarQueryParams.Add("accountType", parameterToString(*r.accountType, ""))
	}
	if r.documentType != nil {
		localVarQueryParams.Add("documentType", parameterToString(*r.documentType, ""))
	}
	if r.organizationCategory != nil {
		localVarQueryParams.Add("organizationCategory", parameterToString(*r.organizationCategory, ""))
	}
	if r.pageNo != nil {
		localVarQueryParams.Add("pageNo", parameterToString(*r.pageNo, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("pageSize", parameterToString(*r.pageSize, ""))
	}
	if r.country != nil {
		localVarQueryParams.Add("country", parameterToString(*r.country, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiV1DataProvidersProviderIdGetRequest struct {
	ctx context.Context
	ApiService *DataProviderDiscoveryApiService
	providerId string
}


func (r ApiV1DataProvidersProviderIdGetRequest) Execute() (*DataProvider, *http.Response, error) {
	return r.ApiService.V1DataProvidersProviderIdGetExecute(r)
}

/*
V1DataProvidersProviderIdGet Get a Data Provider details.

.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param providerId Provider Id.
 @return ApiV1DataProvidersProviderIdGetRequest
*/
func (a *DataProviderDiscoveryApiService) V1DataProvidersProviderIdGet(ctx context.Context, providerId string) ApiV1DataProvidersProviderIdGetRequest {
	return ApiV1DataProvidersProviderIdGetRequest{
		ApiService: a,
		ctx: ctx,
		providerId: providerId,
	}
}

// Execute executes the request
//  @return DataProvider
func (a *DataProviderDiscoveryApiService) V1DataProvidersProviderIdGetExecute(r ApiV1DataProvidersProviderIdGetRequest) (*DataProvider, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DataProvider
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DataProviderDiscoveryApiService.V1DataProvidersProviderIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/data-providers/{providerId}"
	localVarPath = strings.Replace(localVarPath, "{"+"providerId"+"}", url.PathEscape(parameterToString(r.providerId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
